{% extends "layout.html" %}

{% block title %}
    League Table
{% endblock %}

{% block main %}

{% for i in range(commonList|length) %}
<table>
    <tr>
        <th>Position</th>
        <th>Team</th>
        <th>GP</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>GD</th>
        <th>Points</th>
    </tr>
        {% for y in range (compStandingsList[i]|length) %}
            <tr>
                <td>{{ compStandingsList[i][y].get('position') }}</td>
                <td>{{ compStandingsList[i][y].get('name') }}</td>
                <td>{{ compStandingsList[i][y].get('gp') }}</td>
                <td>{{ compStandingsList[i][y].get('w') }}</td>
                <td>{{ compStandingsList[i][y].get('d') }}</td>
                <td>{{ compStandingsList[i][y].get('l') }}</td>
                <td>{{ compStandingsList[i][y].get('gd') }}</td>
                <td>{{ compStandingsList[i][y].get('points') }}</td>
            </tr>
        {%  endfor %}
</table>
{% endfor %}

{% endblock %}

